/* span{color: aqua;}
h1{color:black}
nav ul li {display: inline-block;} */
nav ul li a {
      display:block;
      padding: 5px;
      color:black;
      font-weight:800;
      text-transform:capitalize;
      margin: 0 10px;
      text-decoration: none;
}